.activeSectionNav {
  color: tomato;
}

.activeSectionNav:hover {
  font-size: 110%;
  color: tomato;
  border-bottom: 2px solid tomato;
}

/* fixed button at buttom right */
.jumpToTopButton {
  z-index: 1;
  position: fixed;
  bottom: 20px;
  right: 20px;
}
