.navbar-light .navbar-nav .nav-link {
  color: tomato;
}

.navbar-light .navbar-nav .nav-link:visited {
  color: tomato;
}
.navbar-light .navbar-nav .nav-link:hover {
  color: red;
  transition: 0.4s ease;
}
/* fixed button at buttom right */
.jumpToTopButton {
  z-index: 1;
  position: fixed;
  bottom: 20px;
  right: 20px;
}
