.Contact-me-section-heading {
  color: tomato;
  font-size: 50px;
}

.Contact-me-section {
  height: 400px;
}

.Form-styling {
  border: none;
  border-bottom: 2px solid tomato;
}

.Card-text {
  font-size: 18px;
}

.Form-button {
  color: tomato;
  border: 2px solid tomato;
}

.Thank-you-card-text {
  color: tomato;
  font-size: 50px;
}

.Thank-you-card {
  height: 400px;
  border-bottom: 2px solid tomato;
}

textarea {
  resize: none;
}

a:link {
  color: tomato;
}

a:visited {
  color: tomato;
}
